body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #333;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background-header.png);
  background-size: cover;
  background-position: center;
  background-color: #064dbf;
  color: white;
  padding: 3rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.teks {
  background-color: #dcdcdc;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
.jadwal {
  text-align: center;
  color: #000000;
}
.container {
  margin-top: 10px;
  padding: 0;
  background-color: #dcdcdc;
  border-radius: 10px;
  padding: 2rem;
}

table {
  background-color: #dcdcdc;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 2px solid #ffffff;
  padding: 0.5rem;
  text-align: center;
}
.mejakosong {
  color: #000000;
}
.inf {
  color: #ffffff;
}

.kontak-list {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.kontak-list li {
  margin: 1rem 0;
}

.kontak-list a {
  text-decoration: none;
  color: #006400;
  font-weight: bold;
}

.kontak-list a:hover {
  color: #004d00;
  text-decoration: underline;
}
.kontakkami {
  text-align: center;
  background-color: #dcdcdc;
  padding: 20px;
}

footer {
  background-color: #052252;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
